<button md-fab id="add" (click)="addOrderDialog()" *ngIf="afAuth.auth.currentUser"><md-icon>add</md-icon></button>
<md-card *ngIf="!afAuth.auth.currentUser; else displayOrders">
  <md-card-header>
    <md-card-title>Please Register to see the orders</md-card-title>
  </md-card-header>
</md-card>

<ng-template #displayOrders>
  <md-progress-bar *ngIf="!orders" color="primary" mode="indeterminate">
  </md-progress-bar>
  <div fxLayout="row">
    <div fxLayout="row" fxFlex fxLayout.sm="column" fxLayout.xs="column" style="flex-wrap: wrap">
      <app-order-card *ngFor="let order of orders" [order]="order">
      </app-order-card>
    </div>
    <div fxFlex="40" [@slideInOut]="orderOpen" id="detailColumn">
      <button *ngIf="selectedOrder | async" class="closeButton" md-mini-fab color="primary" (click)="close()"><md-icon>arrow_forward</md-icon></button>
      <app-order-detail *ngIf="selectedOrder | async"></app-order-detail>
    </div>
  </div>
</ng-template>
