#add {
  position: absolute;
  right: 25%;
  top: 40px;
  z-index: 998;
}

@media only screen and (max-device-width: 1000px) {
  #add {
    position: fixed;
    right: 5%;
    top: 90%;
  }
}

.cardContent {
  margin: 0 8px;
}
