<button md-fab id="add" (click)="addOrderDialog()"><md-icon>add</md-icon></button>
<button md-buton id="test" (click)="test()">TEST</button>
<md-card *ngIf="!(af.auth | async); else displayOrders">
  <md-card-header>
    <md-card-title>Please Register to see the orders</md-card-title>
  </md-card-header>
</md-card>

<ng-template #displayOrders>
  <md-progress-bar *ngIf="!(orders | async)" color="primary" mode="indeterminate">
  </md-progress-bar>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="flex-wrap: wrap">
    <app-order-card *ngFor="let order of orders | async" [order]="order"></app-order-card>
  </div>
</ng-template>
