<button md-fab id="add" (click)="openOrderDialog()"><md-icon>add</md-icon></button>
<div fxLayout="row" style="flex-wrap: wrap">
<md-card *ngFor="let order of orders | async"  fxLayout="column" fxFlex="20" class="orderCard">
  <md-card-header>
    <md-card-title>{{order.where}} <small *ngIf="order.completed" class="green">ordered!</small></md-card-title>
    <md-card-subtitle>{{order.when}}</md-card-subtitle>
  </md-card-header>
  <md-card-content class="cardContent">
    <p>
      {{order.description}}
    </p>
    <a md-button [href]="order.url" target="_blank">open shop</a>
  </md-card-content>
  <md-card-actions>
 
    <button md-raised-button color="primary" [disabled]="order.completed" (click)="openMealDialog(order)">add meal</button>
    <button md-button (click)="openOrderDetail(order)">view order</button>
  </md-card-actions>
</md-card>
</div>