<md-progress-bar *ngIf="!order; else detailOrder" color="primary" mode="indeterminate">
</md-progress-bar>
<ng-template #detailOrder>
  <div id="detailDialog">
    <h3>{{order.createdFrom.displayName}} wants to order at {{order.where}}</h3>
    <h2>Order should be completed at: {{order.when}}</h2>
    <md-list>
      <md-list-item *ngFor="let meal of order.meals">
        <md-icon md-list-avatar>local_pizza</md-icon>
        <h2 md-line>{{meal.createdFrom.displayName}}</h2>
        <h3 md-line> {{meal.name}} </h3>
        <p md-line>
          <span> {{meal.info}} </span>
        </p>
        <p md-line>
          <span *ngIf="meal.price"> {{meal.price}} €</span>
        </p>
      </md-list-item>
    </md-list>
    <strong>Overall price: {{order.meals | pluck: 'price' | truthify | sumPrice}} € </strong>
    <div *ngIf="currentUser && (currentUser.uid === order.createdFrom.uid)">
      <md-divider></md-divider>
      <md-input-container class="full-width">
        <input mdInput placeholder="Estimated delivery" (value)="order.delivery" #deliveryTime>
      </md-input-container>
      <button md-raised-button color="primary" [disabled]="order.completed || currentUser.uid !== order.createdFrom.uid" (click)="onComplete(deliveryTime.value)">complete order</button>
    </div>
  </div>
</ng-template>
