<md-progress-bar *ngIf="!order; else detailOrder" color="primary" mode="indeterminate">
</md-progress-bar>
<ng-template #detailOrder>
  <div id="detailDialog">
    <md-toolbar color="primary" id="mobileToolbar">
      <md-icon routerLink="/order">arrow_back</md-icon>
      <span class="spacer"></span>
      <span>Order at: {{order.where}}</span>
    </md-toolbar>
    <h3 id="headline">Order at: {{order.where}}</h3>
    <div *ngIf="currentUser && order.createdFrom && (currentUser.uid === order.createdFrom.uid)">
      <md-input-container class="full-width">
        <input mdInput placeholder="Estimated delivery" #delivery>
      </md-input-container>
      <button md-raised-button color="primary" [disabled]="order.completed || currentUser.uid !== order.createdFrom.uid" (click)="onComplete(delivery.value)">complete order</button>
      <md-divider></md-divider>
    </div>
    <md-card *ngFor="let meal of order.meals" class="orderCard">
      <md-card-header>
        <div md-card-avatar class="control-col">
          <md-icon>local_pizza</md-icon>
        </div>
        <md-card-title *ngIf="!meal.editMode">{{meal.createdFrom.displayName}}</md-card-title>
        <md-card-subtitle>
          <span *ngIf="!meal.editMode">{{meal.name}}</span>
          <md-input-container *ngIf="meal.editMode">
            <input mdInput placeholder="Meal name" [(ngModel)]="meal.name">
          </md-input-container>
        </md-card-subtitle>
        <md-card-subtitle>
          <span *ngIf="!meal.editMode">{{meal.info}}</span>
          <md-input-container *ngIf="meal.editMode">
            <input mdInput placeholder="Infos of the meal" [(ngModel)]="meal.info">
          </md-input-container>
        </md-card-subtitle>
        <md-card-subtitle>
          <span *ngIf="!meal.editMode">{{meal.price}} €</span>
          <md-input-container *ngIf="meal.editMode">
            <input mdInput placeholder="Price of meal" [(ngModel)]="meal.price">
          </md-input-container>
        </md-card-subtitle>
        <span class="spacer"></span>
        <div class="button-col" *ngIf="!order.completed">
          <button md-mini-fab (click)="updateMeal(meal); meal.editMode = false" color="primary" *ngIf="meal.editMode"><md-icon>save</md-icon></button>
          <button md-mini-fab (click)="meal.editMode = true" *ngIf="!meal.editMode && meal.createdFrom.uid == afAuth.auth.currentUser.uid"><md-icon>edit_mode</md-icon></button>
          <button md-mini-fab (click)="deleteMeal(meal)" color="warn" *ngIf="!meal.editMode && meal.createdFrom.uid == afAuth.auth.currentUser.uid"><md-icon>delete</md-icon></button>
          <button md-mini-fab color="accent" *ngIf="meal.editMode" (click)="meal.editMode = false"><md-icon>cancel</md-icon></button>
        </div>
      </md-card-header>
    </md-card>
    <strong>Overall price: {{order.meals | pluck: 'price' | truthify | sumPrice}} € </strong>

  </div>
</ng-template>
