<form (ngSubmit)="register()">
  <md-input-container class="full-width">
    <input mdInput placeholder="Email" [(ngModel)]="credentials.email" name="Email" required>
  </md-input-container>
    <md-input-container class="full-width">
    <input mdInput placeholder="Password" type="password" [(ngModel)]="credentials.password" name="password" required>
  </md-input-container>
  <button md-raised-button color="primary" (click)="register()">Add</button>
  <button md-button (click)="cancel()">Add</button>
</form>
