/* You can add global styles to this file, and also import other style files */

.full-width {
  width: 100%;
}

.green {
  color: #008000;
}

.error {
  color:red;
  font-size: 12px;
}

.spacer {
  flex: 1 1 auto;
}
#mobileToolbar {
  display: none;
}
@media only screen and (max-device-width: 1000px) {
  #mobileToolbar {
    display: block;
    margin-bottom: 25px;
  }
}
